.posts-grid {
    gap: 3rem;
    margin: 0 auto;
    width: 100%;
}

.posts-page {
    width: 100%;
    margin: 0 auto;
    padding: 2rem 6rem;
}

.posts-pagin {
    margin: 40px 0;
}

.pagin-active {
    color: black;
    background-color: white;
}

.page-num{
    padding: 1rem 1.5rem;
    margin-right: 10px;
    font-size: 20px;
    background-color: white;
    transition: 0.1s ease-in;
    cursor: pointer;
}

.page-num:hover,
.page-num:active {
    color: white;
    background-color: black;
}

@media screen and (max-width: 900px){
    .posts-page {
        padding: 2rem 4rem;
    }

    .page-num{
        padding: 0.5rem 1rem;
        margin-right: 10px;
        font-size: 18px;
    }
    
    
}

@media screen and (max-width: 600px){
    .posts-page {
        padding: 2rem;
    }
    
}